[Unit]
Description=OpenSearch Service
After=network.target

[Service]
Type=simple
User=${USER}
ExecStart=${PWD}/opensearch/bin/opensearch
Restart=always

[Install]
WantedBy=multi-user.target 