[Unit]
Description=Splunk Enterprise
After=network.target
Wants=network.target

[Service]
Type=forking
User=%i
Group=%i
Environment="SPLUNK_HOME=/opt/splunk"
ExecStart=/opt/splunk/bin/splunk start --accept-license --answer-yes --no-prompt
ExecStop=/opt/splunk/bin/splunk stop
ExecReload=/opt/splunk/bin/splunk restart
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
